# Fail2ban filter for WordPress user enumeration
# Managed by Ansible

[INCLUDES]
before = common.conf

[Definition]
failregex = ^%(__prefix_line)sBlocked user enumeration attempt from <HOST>$
            ^%(__prefix_line)sUser enumeration attempt from <HOST>$
ignoreregex =
