<?xml version="1.0"?>
<ruleset name="PAUSATF WordPress Standards">
  <description>WordPress Coding Standards for themes and custom plugins</description>

  <file>themes/thesource-child</file>
  <file>wp-content/plugins</file>
  <file>wp-content/mu-plugins</file>
  <file>wordpress/plugins</file>
  <file>wordpress/mu-plugins</file>
  <file>ansible/roles/wordpress/files/TheSource-child</file>
  <file>ansible/roles/apache/files</file>
  <file>content</file>
  <file>teeters-php</file>
  <file>pausatf-content-architecture.php</file>

  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Extra"/>
  <rule ref="PHPCompatibility"/>

  <config name="testVersion" value="8.0-8.3"/>

  <arg name="extensions" value="php"/>
  <arg value="sp"/>
</ruleset>
