/*
2015 Nationals XC CSS
*/

body  { color: #ffd67f; font-size: 13px; background: #000033 url("/images/2008/img01b.jpg") repeat-y center top; margin: 0; padding: 0 }

body, th, td, input, textarea, select, option {
	text-transform: none;
	font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #ffae00;
}

h1 {
	letter-spacing: -2px;
	font-size: 4em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #9BDB18;
}

a:hover {
	text-decoration: none;
	color: #E6B715;
}

/* Header */

#header  { background: url("/images/xc2015bannerweb.jpg") no-repeat right top; margin: 0 auto; width: 800px; height: 472px }

#header h1, #header p {
	margin: 0;
	color: #E6B715;
}

#header h1 {
	padding: 30px 0 0 0;
}

#header p {
	padding-left: 53px;
	margin-top: -10px;
	font-size: larger
}
#header a {
	color: #E6B715;
}


/* Page */

#page {
	width: 840px;
	margin: 0 auto;
}


/* Content */

#content {
	float: left;
	width: 510px;
	margin: 0;
	margin-top: -90px;
}

.post {
	padding: 90px 0 0px 0;
}

.post2 {
	padding: 20px 0 0px 0;
}

.title {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 2px dashed #333333;
}

.byline {
	margin: 0;
	color: #646464;
}

.meta {
	text-align: right;
	color: #646464;
	padding: 5px 10px;
	border: 1px dashed #333333;
}

.meta .more  { background: url("../../../../../Documents%20and%20Settings/Thom%20Trimble/Local%20Settings/Temp/GoliveTmp/AdapterTemp/PAUSATF/images/2008/img05.gif") no-repeat left center; padding-left: 20px }

.meta .comments  { background: url("../../../../../Documents%20and%20Settings/Thom%20Trimble/Local%20Settings/Temp/GoliveTmp/AdapterTemp/PAUSATF/images/2008/img06.gif") no-repeat left center; padding-left: 20px }

/* Sidebar */

#sidebar {
	float: right;
	width: 210px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 5px 15px;
}

#sidebar li li  { background: url("../../../../../Documents%20and%20Settings/Thom%20Trimble/Local%20Settings/Temp/GoliveTmp/AdapterTemp/PAUSATF/images/2008/img02.gif") no-repeat 5px 50%; padding-left: 10px; border-bottom: 1px dotted #000000 }

#sidebar h2 {
	margin: 0;
	padding: -50px 0 0 0;
	border-bottom: 2px solid #0F0F0F;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
}


/* Footer */

#footer {
	clear: both;
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: left;
	font-size: smaller;
}