; New Relic PHP Agent Configuration
; Managed by Ansible

extension = "newrelic.so"

[newrelic]
newrelic.license = "{{ newrelic_license_key }}"
newrelic.appname = "{{ newrelic_app_name }}"
newrelic.logfile = "/var/log/newrelic/newrelic-daemon.log"
newrelic.loglevel = "info"
newrelic.enabled = true
newrelic.framework = "wordpress"
newrelic.browser_monitoring.auto_instrument = true
newrelic.transaction_tracer.enabled = true
newrelic.transaction_tracer.detail = 1
newrelic.transaction_tracer.record_sql = "obfuscated"
newrelic.error_collector.enabled = true
newrelic.capture_params = false
