---
# Apache handlers

- name: Restart Apache
  service:
    name: apache2
    state: restarted

- name: Reload Apache
  service:
    name: apache2
    state: reloaded

- name: Start Apache
  service:
    name: apache2
    state: started
