# Allow scorer_upload.php to read/write the legacy data directory.
# The script lives in /var/www/html/teeters-php/ (inside open_basedir)
# but needs filesystem access to {{ legacy_content_path }}/public_html/data/
# where year subdirectories (2024/, 2025/, 2026/, ...) contain race results.
<Directory /var/www/html/teeters-php>
    php_admin_value open_basedir /var/www/html:{{ legacy_content_path }}/public_html/data:/tmp:/var/tmp:/usr/share/php
</Directory>
