name: Markdown Lint

on:
  pull_request:
    paths:
      - '**.md'
      - '.github/workflows/markdown-lint.yml'
  push:
    branches:
      - main
    paths:
      - '**.md'
      - '.github/workflows/markdown-lint.yml'

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.title, 'chore(deps):')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run markdownlint
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
          config_file: .markdownlint.json
          ignore_files: node_modules/

  link-check:
    name: Markdown Link Check
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.title, 'chore(deps):')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          config-file: '.markdown-link-check.json'
