---
# Main playbook that orchestrates all roles
- name: Configure all servers
  hosts: all
  gather_facts: yes
  become: yes

  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"

  roles:
    - common

- name: Configure web servers
  hosts: webservers
  gather_facts: yes
  become: yes

  roles:
    - role: wordpress
      when: wordpress_enabled | default(false)

- name: Configure monitoring
  hosts: all
  gather_facts: yes
  become: yes

  roles:
    - monitoring
