---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: wordpress-ubuntu
    image: ubuntu:24.04
    pre_build_image: true
    privileged: true
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    tmpfs:
      - /run
      - /tmp
provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
      callback_whitelist: profile_tasks, timer, yaml
  inventory:
    host_vars:
      wordpress-ubuntu:
        ansible_user: root
        wordpress_enabled: true
        environment: staging
verifier:
  name: ansible
