body {
	margin-left:15px;
	margin-top:67px;
	font-size:13px;
	font-family:Tahoma, Arial, San Sarif;
	font-variant: none;
	color:black;
	background-image:url(/images/Logopage2.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	scrollbar-face-color:blue ;
	scrollbar-shadow-color: black;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color:white;
	scrollbar-darkshadow-color:black;
	scrollbar-track-color:#ffffff;
	scrollbar-base-color:blue;
	scrollbar-arrow-color:white}
a {
	color: #c75f3e;
}

#mytable {
	width: 900px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background-color: #0066CC;
	background-image: url(images/bg_header.jpg);
	background-repeat: no-repeat;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

ol {
	font: bold 16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}