
body,br,td {font-family:Tahoma; font-size:9px; font-weight:normal  }
div {font-family:Tahoma; font-size:9px;  color:#FFFFFF;}
  .menu{font-family:Tahoma; font-size:9px;  color:#D7A6A6; font-weight:900; text-decoration:none }
  .link{font-family:Tahoma; font-size:9px;  color:#E3BDBD; font-weight:900; }
  .main{font-family:Tahoma; font-size:9px;  color:#FFFFFF;}
  .input{font-family:Tahoma; font-size:9px;  color:#710000;}
  .title{font-family:Tahoma; font-size:12px;  color:#FFFFFF; font-weight:900; }
	









 




