# Monit System Monitoring
# Managed by Ansible

check system $HOST
    if loadavg (1min) > 4 then alert
    if loadavg (5min) > 2 then alert
    if memory usage > 90% then alert
    if swap usage > 25% then alert
    if cpu usage (user) > 80% then alert
    if cpu usage (system) > 20% then alert
    if cpu usage (wait) > 20% then alert

check filesystem rootfs with path /
    if space usage > 85% then alert
    if inode usage > 85% then alert
